<div class="content_wrapper" id='block_<%= block.id %>'>          
  <div class="content_body">        
    <% block.children.each do |b| %><%= raw block.render(b, local_assigns) %><% end %>
  </div>
</div>