<div class="impulsely-product-details constrain" id="block_<%= block.id %>">
	<div class="left">
		<h2>LIMITED TIME SPECIAL OFFER!</h2>
		<h5>(Limit 5 Per Customer)</h5>
		<h1>Modern Buckle<br />38mm</h1>
		<div class="richtext">
			<p>Modern Buckle For Apple Watch Band 38mm Magnetic Soft Genuine Leather Strap Modern Buckle Strap</p>
			<p>Modern Buckle For Apple Watch Band 38mm Magnetic Soft Genuine Leather Strap Modern Buckle Strap</p>
			<p>Modern Buckle For Apple Watch Band 38mm Magnetic Soft Genuine Leather Strap Modern Buckle Strap</p>
		</div>
		<div class="options-wrapper">
			<h5>Details</h5>
			<div class="option">
				<h5>Color</h5>
				<ul class="swatch">
					<li><a href="#" style="background-color:#62636f;"></a></li>
					<li><a href="#" class="selected" style="background-color:#decfc8;"></a></li>
					<li><a href="#" style="background-color:#664a35;"></a></li>
					<li><a href="#" style="background-color:#3b3b3b;"></a></li>
				</ul>
			</div>
			<div class="option">
				<h5>Size</h5>
				<ul>
					<li><a href="#">S</a></li>
					<li><a href="#" class="selected">M</a></li>
					<li><a href="#">L</a></li>
				</ul>
			</div>
			<a href="#" class="size-chart">View size chart</a>
		</div>
		<div class="prices-wrapper">
			<h4 class="regular">Regular Price: <span class="price strikethrough">$149.00</span></h4>
			<h2 class="today">Today's Price: <span class="price">$99.00</span></h2>
		</div>
		<div class="buttons-wrapper clearfix">
			<a href="#" class="btn green">YES, Add This To My Order!</a>
			<a href="#" class="btn blue question">?</a>
			<a href="#" class="btn red">No Thanks, I'll pass on this</a>
		</div>
	</div>
	<div class="right">
		<div class="countdown-wrapper">
			<div class="progress-bar">
				<div class="fill" style="width:50%;"></div>
				<div class="circle" style="left:50%;"></div>
			</div>
			<h4>HURRY! Only <span class="count">19</span> Left in Stock.</h4>
			<div class="clearfix" id="clock"></div>
		</div>
		<div class="images-wrapper clearfix">
			<div class="main-holder">
				<div id="main-image" style="background-image:url('//d9hjv462jiw15.cloudfront.net/assets/impulselyshop/images/watch.jpg');"></div>
			</div>
			<div class="thumbnail-holder">
				<ul>
					<li><a href="#" class="thumbnail" style="background-image:url('//d9hjv462jiw15.cloudfront.net/assets/impulselyshop/images/watch.jpg');"></a></li>
					<li><a href="#" class="thumbnail" style="background-image:url('//d9hjv462jiw15.cloudfront.net/assets/impulselyshop/images/watch.jpg');"></a></li>
					<li><a href="#" class="thumbnail" style="background-image:url('//d9hjv462jiw15.cloudfront.net/assets/impulselyshop/images/watch.jpg');"></a></li>
					<li><a href="#" class="thumbnail" style="background-image:url('//d9hjv462jiw15.cloudfront.net/assets/impulselyshop/images/watch.jpg');"></a></li>
					<li><a href="#" class="thumbnail" style="background-image:url('//d9hjv462jiw15.cloudfront.net/assets/impulselyshop/images/watch.jpg');"></a></li>
					<li><a href="#" class="thumbnail" style="background-image:url('//d9hjv462jiw15.cloudfront.net/assets/impulselyshop/images/watch.jpg');"></a></li>
					<li><a href="#" class="thumbnail" style="background-image:url('//d9hjv462jiw15.cloudfront.net/assets/impulselyshop/images/watch.jpg');"></a></li>
					<li><a href="#" class="thumbnail" style="background-image:url('//d9hjv462jiw15.cloudfront.net/assets/impulselyshop/images/watch.jpg');"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="bottom">
		<h3>You May Also Like...</h3>
		<div class="product-list">
			<ul class="clearfix">
				<li>
					<a href="#">
						<img src="//d9hjv462jiw15.cloudfront.net/assets/impulselyshop/images/watch.jpg" alt="Watch" />
						<h4 class="title">Apple Watch</h4>
						<p class="price">$350.00</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="//d9hjv462jiw15.cloudfront.net/assets/impulselyshop/images/watch.jpg" alt="Watch" />
						<h4 class="title">Apple Watch</h4>
						<p class="price">$350.00</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="//d9hjv462jiw15.cloudfront.net/assets/impulselyshop/images/watch.jpg" alt="Watch" />
						<h4 class="title">Apple Watch</h4>
						<p class="price">$350.00</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="//d9hjv462jiw15.cloudfront.net/assets/impulselyshop/images/watch.jpg" alt="Watch" />
						<h4 class="title">Apple Watch</h4>
						<p class="price">$350.00</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="//d9hjv462jiw15.cloudfront.net/assets/impulselyshop/images/watch.jpg" alt="Watch" />
						<h4 class="title">Apple Watch</h4>
						<p class="price">$350.00</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="//d9hjv462jiw15.cloudfront.net/assets/impulselyshop/images/watch.jpg" alt="Watch" />
						<h4 class="title">Apple Watch</h4>
						<p class="price">$350.00</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="//d9hjv462jiw15.cloudfront.net/assets/impulselyshop/images/watch.jpg" alt="Watch" />
						<h4 class="title">Apple Watch</h4>
						<p class="price">$350.00</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<% content_for :js do %>
<script>
$('#clock').countdown('2016/10/01', function(event) {
	var string = "<div><p>%D</p><h6>Days</h6></div>";
	string += "<div><p>%H</p><h6>Hours</h6></div>";
	string += "<div><p>%M</p><h6>Minutes</h6></div>";
	string += "<div><p>%S</p><h6>Seconds</h6></div>";
  $(this).html(event.strftime(string));
});
</script>
<% end %>