<%
address = block.child_value('address')
%>
<footer class="main dexa" id="block_<%= block.id %>">
  <div class="constrain">
    <img src="//d9hjv462jiw15.cloudfront.net/assets/radiology/images/dark_logo.png" alt="The Radiology Clinic" width="220" height="53" />
    <div class="richtext"><%== address %></div>
  </div>
</footer>