<header class="main home" id="block_<%= block.id %>">
  <div class="top">
    <div class="constrain">
      <h1 class="mobile-logo conceal"><a href="/" title="Home">Port of Decatur</a></h1>
      <nav class="reveal">
        <% top_pages = Caboose::Page.where(:parent_id => 622, :hide => false).order(:sort_order).all %>
        <ul>
          <li><a href="/" title="Parker Towing">Home</a></li>
          <% top_pages.each do |p| %>
            <li class="toplevel"><%== ApplicationHelper.nav_link(p, editing, false) %>
              <% subpages = p.children.where(:hide => false).order(:sort_order).all %>
              <% if subpages.count > 0 %>
                <div class="dropdown">
                  <div class="constrain">
                    <nav>
                      <ul>
                        <% subpages.each do |p| %>
                          <li><%== ApplicationHelper.nav_link(p, editing, false) %></li>
                        <% end %>
                      </ul>
                    </nav>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
      <a class="icon-menu-4 conceal" href="#" id="show-menu"></a>
    </div>
  </div>
</header>