<div class="forgot-password-form-block" id="block_<%= block.id %>">
	<p>Need to reset your password? Use the form below to provide your email address or username, and we'll send you a link to reset your password.</p>

	<form action='/login/forgot-password' method='post' id='forgot_form'>
    <input type='hidden'    name='return_url' value='/' />
    <input type='text'      name='username' id='reset-username' placeholder='Email address or username' />
    <div id='message'></div>
    <p style="margin-top:15px;">
      <a href="/" class="btn">Cancel</a>
    	<input type='submit' id='btn_login' class="btn"  value='Submit' onclick='send_forgot_password_link(); return false;' />
    </p>
	</form>

</div>

<% content_for :css do %>
<style>
#forgot_form {
	margin-top: 20px;
}
</style>
<% end %>

<% content_for :js do %>
	<script>
		var mess = $("#forgot_form #message");
		function send_forgot_password_link() {
			if ( $("#reset-username").val() == "" || $("#reset-username").val() == "Email address or username" ) {
				mess.html("<p class='note error'>Please provide your username or email address.</p>");
			}
			else {
			  mess.html("<p class='note loading'>Submitting form...</p>");
				$.ajax({
					url: '/login/forgot-password',
					type: 'post',
					data: $('#forgot_form').serialize(),
					success: function(resp) {
					  if (resp.error) mess.html("<p class='note error'>" + resp.error + "</p>");
					  if (resp.success) mess.html("<p class='note success'>Please check your email for a reset link.</p>");    
					},
					error: function() {	
						mess.html("<p class='note error'>Error</p>");			
					}
				});
			}
		}
	</script>
<% end %>