          
    <div class="nav">
    	<ul>
    		<li><a href="/">Home</a></li>
    		<li><a href="/about">About</a></li>
    		<li><a href="/properties/category/land">Land</a></li>
    		<li><a href="/properties/category/commercial">Commercial</a></li>
    		<li><a href="/properties/category/rural">Rural</a></li>
    		<li><a href="/properties/category/residential">Residential</a></li>
    		<li><a href="/services">Services</a></li>
    		<li><a href="/contact/montgomery">Contact Us</a></li>
    	</ul>
    </div>
    