<li id="block_<%= block.id %>">
  <div class="wrapper">
    <p><%= block.child_value('quote') %></p>
    
    <aside>
      - <%= block.child_value('name') %>, <%= block.child_value('type') %>
    </aside>
  </div>
</li>

