<div id="block_<%= block.id %>">
  <header class="subpage">
    <div class="constrain">
      <div class="logo-link">
        <a href="/" title="Home">
          <img src="//d9hjv462jiw15.cloudfront.net/assets/bwb/images/dark_logo.png" alt="Black Warrior Brewing Company">
        </a>
      </div>
      <a class="show-menu-link" href="#" id="show-menu">
        <span class="icon-menu-4"></span>
        <p>Menu</p>
      </a>
    </div>
  </header>
  <div class="header-space"></div>
</div>