<div class="fullscreen-overlay" id="leaving-modal" data-url="/">
  <div class="table modal-wrapper">
    <div class="table-cell">
      <div class="modal">
        <a id="close-leaving-modal" class="icon-close"></a>
        <div class="leaving-wrapper">
          <img src="//d9hjv462jiw15.cloudfront.net/assets/riverfall/images/riverfall.png" alt="RiverFall Credit Union" width="180" height="79" />
          <h4>Leaving RiverFall Website</h4>
          <p>You have clicked on a link that will take you away from our website. Please note that RiverFall Credit Union has no control of the accuracy of the information nor the security of the site you are about to visit, and makes no warranty thereof. Thank you for visiting riverfallcu.com.</p>
          <br />
          <a href="/" target="_blank" class="btn" id="continue-button">Continue</a>
        </div>
      </div>
    </div>
  </div>
</div>