<div class="fullscreen-overlay" id="login-modal">
  <div class="table modal-wrapper">
    <div class="table-cell">
      <div class="modal">
        <a id="close-login-modal" class="icon-close"></a>
        <div class="login-wrapper">
          <img src="//d9hjv462jiw15.cloudfront.net/assets/riverfall/images/riverfall.png" alt="RiverFall Credit Union" width="180" height="79" />
          <h4>Virtual Branch Login</h4>
          <iframe frameborder="0" height="24" width="183" marginheight="0" marginwidth="0" scrolling="no" src="https://www.financial-net.com/riverfallcu/Logon?LoginMethod=Express"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>