<div class="fullscreen-overlay" id="leaving-modal" data-url="/">
  <div class="table modal-wrapper">
    <div class="table-cell">
      <div class="modal">
        <a id="close-leaving-modal" class="icon-close"></a>
        <div class="leaving-wrapper">
          <img src="<%= asset_path 'alabamaone/images/main_logo.png' %>" alt="Alabama One Credit Union" width="239" height="79" />
          <h4 style="margin-top:15px;">Leaving Alabama One Website</h4>
          <p style="font-size:14px;">You are about to leave Alabama One Credit Union's web site. Alabama One Credit Union provides links to other web sites for your convenience and informational purposes. Linked sites are not under the control of Alabama One Credit Union and Alabama One Credit Union is not responsible for the content of any linked site.</p>
          <br />
          <a href="/" target="_blank" class="btn" id="continue-button">Continue</a>
        </div>
      </div>
    </div>
  </div>
</div>