<div class="sidebar-bg"></div>
<aside class="subpage-sidebar">
	<section>
		<h4 class="title">Quick Links</h4>
		<ul>
      <li><a href="/join-us">Open an Account</a></li>
      <li><a href="/loans">Loan Request</a></li>
      <li><a href="/rates">Rates</a></li>
      <li><a href="/calculators">Calculators</a></li>
      <li><a href="/lost-stolen-credit-card">Lost / Stolen Cards</a></li>
      <li><a href="/newsletter">Newsletter</a></li>
      <li><a href="/events-and-news">News &amp; Events</a></li>
      <li><a href="/promotions">Promotions</a></li>
      <li><a href="/other-services">Other Services</a></li>
      <li><a href="/join-us">Download our Switch Kit</a></li>
      <li><a href="/holiday-closings">Holiday Closings</a></li>
    </ul>
	</section>
</aside>