<footer class="main subpage clearfix" id="block_<%= block.id %>">
  <div class="left clearfix">
    <img src="//d9hjv462jiw15.cloudfront.net/assets/chesapeake/images/white_logo.png" alt="Chesapeake Consulting" width="250" height="68" />
  </div>
  <div class="right">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <% Caboose::Page.where(:parent_id => 2151, :hide => false).order(:sort_order).all.each do |p| %>
          <li><%== ApplicationHelper.nav_link(p, editing, false) %></li>
        <% end %>
      </ul>
    </nav>
    <%== ApplicationHelper.social_links(site.id, "icon", "white") %>
    <section class="nine">
      <span>Designed and loved by:</span>
      <a href="http://www.nine.is" target="_blank">
        <%= render 'svg/nine' %>
      </a>
    </section>
  </div>
</footer>