<div class="video-banner" id="block_<%= block.id %>">
	<div class="constrain">
		<img class="main-logo" src="//d9hjv462jiw15.cloudfront.net/assets/groves/images/main_logo.png" />
		<h1 class="title-text"><%= block.child_value('title_text') %></h1>
		<div class="description">
			<%== block.child_value('description_text') %>
		</div>
	</div>
</div>