<header class="main subpage" id="block_<%= block.id %>">
  <div class="constrain">
  	<a href="/" class="logo-link">
  		<img class="main-logo" src="//d9hjv462jiw15.cloudfront.net/assets/groves/images/main_logo.png" />
  	</a>
    <a href="#" id="show-menu">MENU<span class="icon-menu-4"></span></a>
  </div>
</header>