<div class="col-md-4 col-sm-4 col-xs-12" id="block_<%= block.id %>" style="margin-bottom:40px;">
  <div class="wrapper">
    <a class="portrait-wrapper">                  
      <img class="portrait" src="<%= block.child_value('photo').url(:large) %>">
      <!-- <span class="overlay"><span class="valign"></span><i class="fa fa-envelope"></i></span> -->              
    </a>
    <div class="text-center">
      <h3><%= block.child_value('name') %></h3>
      <p><%= block.child_value('title') %></p>
    </div>
  </div>
</div>