<div class="donate-form-block">
	<div class="grid-row top">
		<div class="unit1of2">
			<div class="contain">
				<a href="#" class="price-btn" data-amount="5"><span class="dollar">$</span>5</a>
			</div>
		</div>
		<div class="unit1of2">
			<div class="contain">
				<a href="#" class="price-btn" data-amount="10"><span class="dollar">$</span>10</a>
			</div>
		</div>
	</div>
	<div class="grid-row bottom">
		<div class="unit1of2">
			<div class="contain">
				<a href="#" class="price-btn" data-amount="20"><span class="dollar">$</span>20</a>
			</div>
		</div>
		<div class="unit1of2">
			<div class="contain">
				<a href="#" class="price-btn" data-amount="custom">Other</a>
			</div>
		</div>
	</div>
</div>