<header class="main subpage" id="block_<%= block.id %>">
  <div class="constrain">
    <a class="logo-link" href="/" title="<%= site.description %>">
      <img src="//d9hjv462jiw15.cloudfront.net/assets/fireprevention/images/main_logo.png" alt="Fire Prevention" width="35" height="55" />
    </a>
    <nav class="reveal">
      <ul>
        <li><a href="/" title="Home">Home</a></li>
        <% Caboose::Page.where(:parent_id => 1309, :hide => false).order(:sort_order).all.each do |p| %>
          <li><%== ApplicationHelper.nav_link(p, editing, false) %></li>
        <% end %>
      </ul>
    </nav>
    <a id="menu-icon" class="cmn-toggle-switch cmn-toggle-switch__htx conceal" href="#mmenu" title="Menu">
      <span>toggle menu</span>
    </a>
  </div>
</header>