<footer class="main subpage" id="block_<%= block.id %>">
  <div class="constrain">
    <div class="grid-row">
      <div class="unit1of2 left">
        <div class="richtext">
          <h6>PHONE</h6>
          <p>(205) 759-9600</p>
          <h6>FAX</h6>
          <p>(205) 759-9604</p>
          <h6>OFFICE HOURS</h6>
          <p>MONDAY-FRIDAY 8AM - 5PM</p>
        </div>
      </div>
      <div class="unit1of2 right">
        <div class="richtext">
          <h6>MAILING ADDRESS</h6>
          <p>PO BOX 21151 I TUSCALOOSA, AL 35402</p>
          <h6>SHIPPING ADDRESS</h6>
          <p>2212 15th STREET, SUITE A I TUSCALOOSA, AL 35401</p>
          <section class="nine">
            <span>Designed and loved by:</span>
            <a href="http://www.nine.is" target="_blank">
              <%= render 'svg/nine' %>
            </a>
          </section>
        </div>
      </div>
    </div>
  </div>
</footer>