<header class="main home" id="block_<%= block.id %>">
  <div class="constrain">
    <a id="menu-icon" class="cmn-toggle-switch cmn-toggle-switch__htx" href="#mmenu" title="Menu">
      <span>toggle menu</span>
    </a>
  </div>
</header>