<div id="sidr" style="display:none;">
  <div class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <% Caboose::Page.where(:parent_id => 556, :hide => false).order(:sort_order).all.each do |p| %>
        <li><%== ApplicationHelper.nav_link(p, editing, false) %>
          <% subpages = p.children.where(:hide => false).order(:sort_order).all %>
          <% if subpages.count > 0 %>
            <ul>
              <% subpages.each do |p| %>
                <li><%== ApplicationHelper.nav_link(p, editing, false) %></li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>