<header class="main home" id="block_<%= block.id %>">
  <a class="logo-link" href="/">
   <img src="//d9hjv462jiw15.cloudfront.net/assets/besha/images/old_logo.jpg" alt="Bessemer Housing Authority" width="572" height="55" >
  </a>
  <a id="menu-icon" class="cmn-toggle-switch cmn-toggle-switch__htx conceal" href="#mmenu" title="Menu">
    <span>toggle menu</span>
  </a>
</header>