<h2 class="title">About this project</h2>
<p>
This is not a poetry project.<br />
It’s a people project.<br />
It’s a study in consciousness.<br />
A way to be curious.<br />
A way to see a spark buried inside of a song.
</p>
<p>
What is that you express in your eyes?<br />
It seems to me more than all the print I have read in my life.
</p>
<p>***</p>
<p>
Today, America<br />
is at its most divisive.<br />
The economy. The environment.<br />
Terrorism. Taxes.<br />
Race. Religion.<br />
Guns. Gender.<br />
Prison, public education.
</p>
<p>
The issues go on...
</p>
<p>
But not here,<br />
Not in this place.
</p>
<p>
See, the thread<br />
that ties us together--<br />
as people, as a state,<br />
as a nation, inside of<br />
a shared universe—<br />
is still golden-strong.
</p>
<p>
Look.
</p>
<p>
Whitman, Alabama,<br />
est. 2016.
</p>
<p>
It isn’t anywhere.<br />
Which means it’s everywhere.
</p>
<p>
Smile O Voluptuous coolbreathed earth!
</p>
<p>***</p>
<p>
The poem is called<br />
Song of Myself.<br />
Walt Whitman wrote it<br />
In 1855.<br />
It was long.<br />
Epic, really (52 sections).<br />
Lewd. Lusty.<br />
Shocking. Scandalous.<br />
Weird. Here’s why.
</p>
<p>
1. It didn’t rhyme.
</p>
<p>
2. It used lists, stories, language<br />
that was “simple as grass.”
</p>
<p>
3. It was written in first person.<br />
I do this, I do that.<br />
I think this, I think that.<br />
And the first person wasn’t a hero.<br />
He was an American, a commoner,<br />
narrating for the masses.
</p>
<p>
4. The poem wasn’t “about” things.<br />
No Grecian urn. No Nightingale.
</p>
<p>
5. It was about<br />
sex, race, religion,<br />
immigration, politics.<br />
In other words,<br />
everything we’re wrestling with today.
</p>
<p>
It was about<br />
one idea:<br />
Everyone is an individual,<br />
and everyone is connected<br />
and we all contain many selves.
</p>
<p>
Do I contradict myself?<br />
Very well then, I contradict myself.
</p>
<p>
(I am large, I contain multitudes.)
</p>
<p>***</p>
<p>
Despite being<br />
considered<br />
trashy, disgusting, and<br />
the worst thing ever written,<br />
the poem is now<br />
considered<br />
to be<br />
a perfect embodiment<br />
of democratic ideals.<br />
The quintessential American poem.
</p>
<p>***</p>
<p>All that said.</p>
<p>
This is not a poetry project.<br />
Just like<br />
Music isn’t the party.<br />
People are the party.<br />
Music draws people to the party.<br />
It acts as a shared background<br />
against which people can do<br />
people-like things:<br />
talking, laughing, crying,<br />
watching, working, singing,<br />
waiting, resting, and sometimes<br />
just being.
</p>
<p>***</p>
<p>
We invite you<br />
to be with us.
</p>
<p>
To take part.<br />
To see and hear the whole.<br />
To exist as you are,<br />
that is enough.
</p>