<header class="main home">
  <div class="constrain">
    <a href="#" id="show-menu" data-effect="st-effect-12">
      <span class="icon-menu-4"></span>
      <span class="text">VERSES</span>
    </a>
    <a href="/" class="title-box">
      <h1>Whitman, Alabama</h1>
    </a>
    <nav>
      <ul>
        <li><a href="#">about the project</a></li>
        <li><a href="#">read the poem</a></li>
      </ul>
    </nav>
  </div>
</header>