<footer class="main subpage" id="block_<%= block.id %>">
  <div class="constrain">
    <div class="grid-row">
      <div class="unit1of4 unit left">
        <img src="//d9hjv462jiw15.cloudfront.net/assets/demopolispd/images/main_logo.png" alt="Demopolis Police Department" class="logo" width="100" height="117" />
      </div>
      <div class="unit1of2 unit middle">
        <h2 class="unit-title">Demopolis Police Department</h2>
        <nav>
          <ul class="clearfix">
            <li><a href="/">Home</a></li>
            <% Caboose::Page.where(:parent_id => 1614, :hide => false).order(:sort_order).all.each do |p| %>
              <li><%== ApplicationHelper.nav_link(p, editing, false) %></li>
            <% end %>
          </ul>
        </nav>
      </div>
      <div class="unit1of4 unit right">
        <%== ApplicationHelper.social_links(site.id, "icon", "white") %>
        <a href="https://local.nixle.com/demopolis-police-department/" target="_blank" class="nixle">
          <svg width="80" height="24" viewBox="0 0 370 110" xmlns="http://www.w3.org/2000/svg"><title>Artboard 1</title><desc>Created with Sketch.</desc><g fill="none" fill-rule="evenodd"><g><g><path d="M109.704.385H72.94c-10.16 0-18.793 6.582-21.912 15.698h9.305c.416 0 .83.013 1.24.032 2.432-3.702 6.615-6.156 11.366-6.156h36.764c7.497 0 13.596 6.1 13.596 13.595V35.81c0 7.496-6.1 13.596-13.596 13.596h-6.31v9.18l-15.965-9.18H72.94c-.77 0-1.518-.08-2.252-.203-6.427-1.078-11.346-6.666-11.346-13.394v-3.67h-9.574v3.67c0 11.736 8.78 21.44 20.113 22.944 1.004.133 2.02.226 3.06.226h10.89l27.598 13.937v-14c11.973-.885 21.446-10.912 21.446-23.108V23.554c0-12.775-10.395-23.17-23.17-23.17" fill="#4192C3"/><path d="M77.17 46.165h6.333v-3.67c0-11.736-8.78-21.44-20.112-22.945-1.002-.133-2.018-.225-3.057-.225H23.568c-12.776 0-23.17 10.395-23.17 23.17V54.75c0 12.195 9.472 22.22 21.446 23.106v14L49.44 77.92h10.893c10.16 0 18.792-6.583 21.91-15.7H72.94c-.417 0-.83-.01-1.242-.03-2.43 3.702-6.615 6.155-11.365 6.155h-14.49l-15.965 9.18v-9.18h-6.31c-7.497 0-13.597-6.1-13.597-13.596V42.494C9.97 35 16.07 28.9 23.57 28.9h36.765c.768 0 1.517.078 2.25.2 6.428 1.08 11.346 6.667 11.346 13.395v3.67h3.24" fill="#83B549"/><path d="M138.646 54.47c0-1.394 1.256-2.65 2.65-2.65h4.048c1.116 0 1.953.698 2.232 1.674l1.675 4.745c.978-1.117 8.373-7.815 19.536-7.815 17.024 0 23.302 12 23.302 26.51v28.048c0 1.395-1.255 2.65-2.65 2.65h-7.954c-1.535 0-2.652-1.255-2.652-2.65V76.378c0-8.93-4.325-13.814-11.58-13.814-8.792 0-14.792 6.42-15.49 8.372v34.047c0 1.814-.837 2.65-3.21 2.65h-7.255c-1.395 0-2.65-1.255-2.65-2.65V54.47" fill="#fff"/><path d="M205.253 54.47c0-1.394 1.255-2.65 2.65-2.65h7.954c1.395 0 2.65 1.256 2.65 2.65v50.513c0 1.395-1.255 2.65-2.65 2.65h-7.953c-1.396 0-2.65-1.255-2.65-2.65V54.47" fill="#fff"/><path d="M248.477 79.168l-17.58-23.58c-1.397-1.814-.42-3.768 1.673-3.768h9.07c1.255 0 2.51.42 3.35 1.535l11.162 16.047h.14l11.442-16.047c.697-.977 1.813-1.535 3.208-1.535h9.21c2.372 0 3.07 1.814 1.674 3.628l-17.58 23.58 17.72 24.978c1.256 1.814.558 3.628-1.674 3.628H271.5c-1.115 0-2.233-.697-2.93-1.675l-12.28-17.303h-.138l-12.558 17.86c-.42.56-1.118 1.117-2.233 1.117h-9.348c-2.372 0-2.93-1.814-1.675-3.628l18.14-24.838" fill="#fff"/><path d="M294.072 12.61c0-1.395 1.255-2.65 2.652-2.65h7.952c1.396 0 2.652 1.255 2.652 2.65v92.373c0 1.395-1.256 2.65-2.652 2.65h-7.952c-1.397 0-2.652-1.255-2.652-2.65V12.61" fill="#fff"/><path d="M344.07 50.425c14.51 0 25.674 10.884 25.674 25.813 0 .978-.14 2.79-.28 3.768-.138 1.395-1.254 2.372-2.51 2.372H329c.42 7.536 6.977 14.93 16.047 14.93 5.023 0 9.628-2.232 12.42-4.046 1.673-.977 2.65-1.535 3.765-.14l3.908 5.303c.976 1.116 1.395 2.233-.28 3.628-4.046 3.49-11.302 6.976-20.65 6.976-16.885 0-28.048-13.256-28.048-29.303 0-15.767 11.163-29.302 27.908-29.302zm12.697 23.163c-.418-6.698-6-12.42-12.836-12.42-7.535 0-13.395 5.443-14.232 12.42h27.07z" fill="#fff"/><path d="M203.945 30.868c0-4.344 3.52-7.866 7.866-7.866 4.345 0 7.866 3.522 7.866 7.866 0 4.344-3.52 7.866-7.865 7.866-4.344 0-7.865-3.522-7.865-7.866" fill="#fff"/></g></g></g></svg>
        </a>
        <section class="nine">
          <span>Site designed and loved by:</span>
          <a href="http://www.nine.is" target="_blank">
            <%= render 'svg/nine' %>
          </a>
        </section>
      </div>
    </div>
  </div>
</footer>