<header class="main subpage" id="block_<%= block.id %>">
  <div class="bottom-wrapper">
    <%= render :partial => "caboose/blocks/specialevents/nav", :locals => {:editing => editing, :site => site, :small => true} %>
  </div>
</header>