<header class="main home" id="block_<%= block.id %>">
  <div class="constrain">
    <a href="/contact-us" class="left btn">Contact Us</a>
    <a href="#" class="show-menu-link">
      <span class="text">MENU</span>
      <span class="icon-menu-4"></span>
    </a>
    <div class="mobile-logo conceal">
    	<img src="//d9hjv462jiw15.cloudfront.net/assets/ellis/images/main_logo.png" alt="<%= site.description %>" />
    </div>
  </div>
</header>