<header class="main home" id="block_<%= block.id %>">
  <div class="constrain">
    <div class="left conceal">
      <a href="/" title="Home"><h1>The City Of Northport</h1></a>
    </div>
    <div class="left reveal">
      <ul>
        <li><a href="/pay-my-water-bill" title="Pay My Water Bill">Pay My Water Bill</a></li>
        <li id="last"><a href="https://mail.cityofnorthport.org/owa" target="_blank" title="Employee Email">Employee Email</a></li>
      </ul>
    </div>
    <div class="right reveal">
      <ul class="buttons">
        <li><a href="/public-notices" class="btn Alternate" title="Public Notices">Public Notices</a></li>
        <li><a href="/agenda-and-minutes" class="btn" title="Agenda and Minutes">Agenda &amp; Minutes</a></li>
      </ul>
    </div>
    <a href="#sidr" title="Show Menu" id="show-menu" class="icon-menu-4 conceal"></a>
  </div>
</header>