<div class="grid-row">
  <div class="unit unit1of3">
    <%== block.render 'left', local_assigns %>
  </div>
  <div class="unit unit2of3">
    <%== block.render 'right', local_assigns %>
  </div>
</div>
