<div class="residential-index-wrapper">
  <div class="header">
    <div class="constrain">
      <h2>Residential Listings</h2>
      <a class="btn" href="#" id="show-residential-search"><span id="text">Show Search</span> <span class="icon-search"></span></a> 
    </div>
  </div>
  <%= block.partial('rets_residential_search_form', local_assigns) %>
  <div class="properties-wrapper">
    <div class="property-list">
      <% properties = properties.reject{ |p| p.prop_type.blank? || p.mls_acct.blank? || p.street_num.blank? || p.street_name.blank? || p.nil? } %>
      <% if properties.nil? || properties.count == 0 %>
        <div class='no-results'>No results found</div>
      <% else %>
        <% properties.each do |p| %>            
          <%= block.partial('rets_residential_row', local_assigns.merge({:p => p})) %>             
        <% end %>
        <%= pager.generate.html_safe %>
      <% end %>
    </div>
  </div>
</div>