<div class="faq-block constrain" id="block_<%= block.id %>">
	<img src="//d9hjv462jiw15.cloudfront.net/assets/gamedaytents/images/football.png" alt="Football" width="40" height="40" />
	<h4 class="question"><%== block.child_value('question') %></h4>
	<div class="richtext answer"><%== block.child_value('answer') %></div>
</div>