<footer class="main home" id="block_<%= block.id %>">
  <div class="constrain">
    <%== ApplicationHelper.social_links(site.id, "circle", "white") %>
    <nav>
      <ul>
        <li><a class="local" href="#block_96239" title="About">About</a></li>
        <li><a class="local" href="#block_96301" title="Services">Services</a></li>
        <li><a class="local" href="#block_96401" title="Gallery">Gallery</a></li>
        <li><a class="local" href="#block_96217" title="Contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</footer>