<div class="delay-show">
  <div id="mmenu">
    <ul>
      <li><a class="local" href="#block_96239" title="About">About</a></li>
          <li><a class="local" href="#block_96301" title="Services">Services</a></li>
          <li><a class="local" href="#block_96401" title="Gallery">Gallery</a></li>
          <li><a class="local" href="#block_96217" title="Contact">Contact</a></li>
    </ul>
  </div>
</div>