<% if !editing %>
  <div id="block_<%= block.id %>">
    <footer class="main">
      <div class="constrain">
        <div class="nine">
          <p>site loved by:</p>
          <a href="http://www.nine.is" title="The Nine" target="_blank">
            <img src="//d9hjv462jiw15.cloudfront.net/assets/shared/nine_logo.png" alt="The Nine">
          </a>
        </div>
      </div>
    </footer>
  </div>
<% end %>
