<div id="block_<%= block.id %>" class="menu-divider">
  <div class="constrain">
    <header><%= block.child_value('title') %></header>
    <p><%= block.child_value('description') %></p>
  </div>
</div>

