<section id="block_<%= block.id %>" class="banner" style="background-image: url(<%= block.child('background').image.url(:original) %>) !important">
  <figure style="background-image: url(<%= block.child('logo').image.url(:large) %>)"></figure>
</section>

