<header class="home" id="block_<%= block.id %>">
  <div class="constrain">
    <div class="grid-row">
      <div class="unit1of4">
        <a class="logo-link" href="/">
          <%= render 'svg/caboose' %>
        </a>
      </div>
      <div class="unit3of4">
        <nav class="reveal">
          <ul>
            <li><a href="/">Home</a></li>
            <% Caboose::Page.where(:parent_id => 10, :hide => false).order(:sort_order).all.each do |p| %>
              <li><%== ApplicationHelper.nav_link(p, editing, false) %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
    <a class="icon-menu-4 conceal" href="#" id="show-menu"></a>
  </div>
</header>