<div class="content-wrapper" id='block_<%= block.id %>' style="min-height: 200px;">
  <div class="row editor">
    <% if controller_view_content && controller_view_content.strip.length > 0 %>    
      <%= raw controller_view_content %>
    <% elsif post %>
      <%= raw block.partial('post', local_assigns) %>
    <% elsif block.children.count > 0 %>
      <% block.children.each do |b| %><%= raw block.render(b, local_assigns) %><% end %>
    <% else %>
      <% if editing %>
        <p style="border:1px dashed gray;padding:10px;">Empty content area. Click to add child blocks.</p>
      <% end %>
    <% end %>
  </div>  
</div>



