<div id="block_<%= block.id %>">

<div id="faq-entries" class="faq-wrapper">

				
			<h2><%= block.child_value('question') %></h2>
			
			<div>
			
				<div class="content">
					<%== block.child_value('answer') %>
				</div>
			
			</div>
		
		
	
	</div>
</div>