<div class="container home-content" id="block_<%= block.id %>">

<div class="row editor">

<div class="ten columns">
<h1 class="longer"><%= block.child_value('title') %></h1>

<%== block.child_value('main_content') %>
</div>
        
<div class="five columns offset-by-one">
<p>&nbsp;</p>

<p class="hideMobile"><a class="youtube cboxElement" title="Dr. Sunil Gupta" href="http://www.youtube.com/embed/jE-_JGn3kJY?rel=0&amp;wmode=transparent&autoplay=1">
<img src="//d9hjv462jiw15.cloudfront.net/assets/retinalscreenings/images/images-index/video-viewpath.jpg" class="scale-with-grid" alt="Video"></a></p>

<p class="mobileOnly"><a title="Dr. Sunil Gupta" href="http://www.youtube.com/embed/jE-_JGn3kJY?rel=0&amp;wmode=transparent&autoplay=1" target="_blank">
<img src="//d9hjv462jiw15.cloudfront.net/assets/retinalscreenings/images/images-index/video-viewpath.jpg" class="scale-with-grid responsive-image" alt="Video"></a></p>

<p class="caption">Dr. Sunil Gupta shares the IRIS team's vision of technology to find those at risk for blindness early so steps can be taken to save their eyesight.</p>

<p>&nbsp;</p>

<div class="counter"><span id="counterNum"></span></div>
<div class="counterDescription"><a id="counterID"></a>
<p>We can end preventable blindness. Every day, healthcare providers around the United States are saving sight through early detection and better preventative care. Thousands of patients have now been screened at the point of primary care with IRIS.</p>

</div>

<p>&nbsp;</p>

<%== block.child_value('secondary_content') %>
</div>

</div>



</div>
