<div class="button-block-wrapper" id="block_<%= block.id %>" style="text-align: center; margin: 0;">     	  
	<a href="/muscle-preview?email=<%= raw email %>&quadrant=upper" title="Upper Quadrant" class="btn main">Upper Quadrant</a>
	<a href="/muscle-preview?email=<%= raw email %>&quadrant=lower" title="Lower Quadrant" class="btn main">Lower Quadrant</a>
</div>
