<footer class="main home" id="block_<%= block.id %>">
  <div class="constrain">
    <nav>
      <ul>
        <li><a href="/news">News</a></li>
        <li><a href="/learn/who-we-are">Staff</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/learn/facilities">Facilities</a></li>
      </ul>
    </nav>
    <div class="right">
      <%== ApplicationHelper.social_links(site.id, "icon", "colored") %>
      <a href="http://www.nine.is" target="_blank">
        <%= render 'svg/nine' %>
      </a>
    </div>    
  </div>
</footer>