.additional-order-wrapper {
	position: relative;
	min-height: 350px;
	.sizer {
		width: 39%;
	}
	.table-wrapper {
		max-height: calc(100vh - 238px);
		overflow: scroll;
	}
}

.additional-order.dashboard-wrapper {
	#mobile-message-holder {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 100;
		.contain {
			width: 90%;
			margin: 0 auto;
			background: rgba(10,10,10,0.9);
			-webkit-border-top-left-radius: 10px;
			-webkit-border-top-right-radius: 10px;
			-moz-border-radius-topleft: 10px;
			-moz-border-radius-topright: 10px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			text-align: center;
			color: #fff;
			padding: 11px 12px 7px 12px;
			p {
				font-size: 17px;
				a {
					color: tint($color-main, 60%);
				}
			}
		}
		@include big {
			display: none;
		}
	}
	.special-requests {
		text-align: right;
		margin: 20px 0;
		h5 {
			font-size: 1em;
			margin-bottom: 8px;
		}
		textarea {
			float: right;
			width: 60%;
			height: 80px;
			text-align: left;
		}
	}
	footer.confirm {
		clear: both;
		text-align: right;
		margin-top: 20px;
		.dt-instructions {
			font: $font-alt;
			font-size: 14px;
			margin-bottom: 6px;
		}
		.disclaimer {
			max-width: 400px;
			margin-top: 24px;
			font-size: 14px;
			font-style: italic;
			display: inline-block;
		}
		.btn {
			margin-left: 8px;
		}
		.delivery-time-selector {
			display: inline-block;
			span.customSelect {
	//			border: 1px solid $color-main;
			}
		}
	}
}

.delivery-time-selector {
	width: 100% !important;
	max-width: 300px !important;
	height: 32px;
	position: relative;
	select.custom {
		opacity: 0;
		height: 32px;
		cursor: pointer;
		&.hasCustomSelect {
			opacity: 1;
			display: block;
			width: 100% !important;
			z-index: 5;
		}
	}
	span.customSelect {
		display: block;
		width: 100%;
		border: 1px solid #c5c5c5;
		border-radius: 3px;
		height: 32px;
		line-height: 32px;
		padding: 0 8px 0 8px;
		.customSelectInner {
			padding-right: 20px;
		}
	}
	span.icon-down-big {
		color: $color-main;
		position: absolute;
		right: 5px;
		top: 8px;
		font-size: 17px;
		z-index: 2;
	}
}


.additional-order-table {
	width: 61%;
	float: left;
	padding-right: 3%;
	@include small {
		width: 100%;
		float: none;
		padding-right: 0;
	}
	&.confirm {
		width: 100%;
		float: none;
		padding-right: 0;
		table {
			&.item-table {
				margin-bottom: 30px;
			}
			tr {
				&.title {
					td {
						text-align: left !important;
						padding-top: 40px;
						padding-bottom: 0;
						padding-left: 0;
						h4 {
							margin-bottom: 0;
							font-size: 1.2em;
							color: $color-main;
							border-bottom: 1px solid #d4d4d4;
							padding-bottom: 8px;
						}
					}
					&:first-of-type {
						td {
							padding-top: 0;
						}
					}
				}
				&.heading {
					td {
						font-weight: bold;
					}
				}
				td {
					padding: 9px 8px 6px 8px;
					.caption {
						font-size: 0.9em;
						margin-left: 8px;
						color: gray;
						font-style: italic;
					}
					.delivery-time-selector {
						position: relative;
						bottom: 1px;
					}
					.li-info {
						margin-top: 5px;
						font-size: 1em;
					}
					.total {
						margin-top: 5px;
						font-size: 1.2em;
					}
					&:last-of-type {
						text-align: right;
					}
				}
			}
		}
	}
	&.cart {
		width: 39%;
		float: right;
		padding-right: 0;
		position: absolute;
		right: 0;
		top: 0;
		@include small {
			width: 100% !important;
			float: none;
			position: static;
			margin-top: 30px;
		}
		&.fixed {
			position: fixed;
			top: 110px;
			right: 2%;
			width: 300px;
			@include small {
				width: 100% !important;
				position: static;
			}
		}
		table {
			&.empty {
				tbody {
					tr {
						background: transparent;
						td {
							padding: 0;
						}
					}
				}
			}
			tbody {
				tr {
					&:nth-of-type(odd) {
						background: #EAEAEA;
					}
					td {
						padding: 10px 2% 3px 2%;
						h5 {
							margin-bottom: 0;
							font-size: 0.8em;
							float: left;
							display: inline;
							width: 70%;
							width: calc(100% - 130px);
						}
						.right {
							float: right;
							width: 30%;
							width: calc(130px);
							text-align: right;
							position: relative;
							bottom: 2px;
							h4 {
								margin-bottom: 0;
								display: inline;
								font: $font-main;
								font-size: 0.9em;
								.quant {

								}
								.x {
									margin: 0 3px;
								}
								.numb {

								}
							}
						}
						a {
							display: inline-block;
							background: $color-red;
							color: #fff;
							width: 18px;
							height: 18px;
							border-radius: 9px;
							text-align: center;
							font-size: 15px;
							padding-top: 0;
							padding-left: 0;
							position: relative;
							margin-left: 6px;
							bottom: 3px;
							&:hover {
								background: shade($color-red, 10%);
							}
						}
						a.add {
							background: $color-green;
							margin-left: 3px;
							&:hover {
								background: shade($color-green, 10%);
							}
						}
					}
				}
			}
			tfoot {
				.total-row {
					td {
						padding-top: 12px;
						p {
							text-align: right;
							.amount {
								margin-left: 5px;
							}
						}
					}
				}
			}
		}
	}
	.table-title {
		font-size: 1.3em;
	}
	.cutoff {
		margin-top: 15px;
		background: #fff8c6;
		border: 1px solid #cecece;
		padding: 10px 8px 8px 8px;
		border-radius: 8px;
	}
	.button-holder {
		text-align: right;
		margin-top: 12px !important;
		.btn {
			margin-left: 8px;
		}
	}
	.instr {
		margin-bottom: 18px;
	}
	table {
		width: 100%;
		tbody {
			.title-row {
				&:first-of-type {
					td {
						padding-top: 0;
					}
				}
				@include small {
					text-align: center;
				}
				td {
					padding: 20px 2% 5px 0;
					@include small {
						padding: 20px 2% 5px 2%;
						text-align: center;
					}
					h3 {
						color: $color-main;
						margin-bottom: 0;
						font-size: 1.4em;
					}
					h5 {
						color: $color-main;
						margin-bottom: 0;
						font-size: 1.2em;
					}
					h3, h5 {
						border-bottom: 1px solid #bbbbbb;
				    padding: 0 50px 0 20px;
				    height: 1px;
				    display: inline-block;
				    position: relative;
				    top: 10px;
				    @include small {
				    	padding: 0 30px;
				    }
						span {
							background: #fff;
					    display: inline-block;
					    padding: 5px 15px;
					    position: relative;
					    bottom: 14px;
						}
					}
				}
			}
			.product-row {
				&:nth-of-type(odd) {
					background: #eaeaea;
				}
				.product-cell {
					.product-unit {
						padding: 8px 2% 7px 2%;
						position: relative;
						min-height: 55px;
						&.none {
							border: 1px dashed gray;
							padding: 10px 8px 8px 8px;
							background: #fff;
							min-height: 0;
						}
						.top {
							.name {
								font: $font-alt;
							}
							@include mini {
								text-align: center;
								margin-bottom: 5px;
							}
							.caption {
								font-size: 0.9em;
								color: tint($color-dark, 30%);
								font-style: italic;
								margin-left: 4px;
							}
							.left {
								width: 75%;
								float: left;
								@include mini {
									width: 100%;
									float: none;
								}
							}
							.right {
								width: 25%;
								float: right;
								text-align: right;
								position: relative;
								top: 12px;
								@include mini {
									float: none;
									text-align: center;
									margin-top: 8px;
									width: 100%;
									top: 0;
								}
								.variant-name {
									font: $font-alt;
									font-size: 0.9em;
								}
								.variant-price {
									font: $font-alt;
									font-size: 0.9em;
								}
								.add-item, .options-link {
									display: inline-block;
									margin-left: 15px;
									text-decoration: none;
									&:focus {
										outline-width: 0;
									}
									&:hover {
										.increase {
											background: shade($color-green, 10%);
										}
									}
									.add {
										display: inline-block;
										margin-right: 3px;
									}
									.increase {
										display: inline-block;
										background: $color-green;
										color: #fff;
										width: 20px;
										height: 20px;
										border-radius: 10px;
										text-align: center;
										font-size: 15px;
										padding-top: 1px;
										padding-right: 1px;
										position: relative;
										bottom: 3px;
									}
								}
							}
						}
						.bottom {
							@include mini {
								text-align: center;
							}
							.handle {
								font-size: 0.9em;
								color: tint($color-dark, 30%);
								font-style: italic;
								margin-right: 8px;
							}
							.show-description {
								
							}
							.add-instructions {
								float: right;
								@include mini {
									float: none;
									margin-left: 8px;
								}
							}
						}
						.variants {
							padding-top: 5px;
							display: none;
							ul {
								background: #fff;
								li {
									clear: both;
									margin-bottom: 0;
									border-bottom: 1px solid $color-light;
									padding: 10px 2% 5px 2%;
									&:last-of-type {
										margin-bottom: 0;
										border-color: #fff;
									}
									.title {

									}
									.price {

									}
									.add-item {
										float: right;
										display: inline-block;
										margin-left: 15px;
										text-decoration: none;
										&:focus {
											outline-width: 0;
										}
										&:hover {
											.increase {
												background: shade($color-green, 10%);
											}
										}
										.add {
											display: inline-block;
											margin-right: 3px;
										}
										.increase {
											display: inline-block;
											background: $color-green;
											color: #fff;
											width: 20px;
											height: 20px;
											border-radius: 10px;
											text-align: center;
											font-size: 15px;
											padding-top: 1px;
											padding-right: 1px;
											position: relative;
											bottom: 3px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

#additional-order-modal {
//	display: block;
	.item-photo {
		display: block;
		max-height: 300px;
		margin: 0 auto 12px auto;
	}
	.product-name {
		font-size: 1.2em;
		margin-bottom: 6px;
		.name {

		}
		.caption {
			font: $font-main;
			font-size: 0.8em;
			color: tint($color-dark, 30%);
			font-style: italic;
			margin-left: 8px;
		}
	}
	.handle {
		margin-bottom: 8px;
		font: $font-main;
		color: tint($color-dark, 20%);
	}
	.richtext {

	}
}