<div class="m-btn-group red" id="block_<%= block.id %>">
  <!-- <span class="m-img-btn">Consumer Links</span> --><!--
  --><a class="m-img-btn-realtor" href="http://www.realtor.com/" target="_blank"></a><!--
  --><a class="m-img-btn-house_logic" href="http://www.houselogic.com/" target="_blank"></a><!--
  --><a class="m-img-btn-acre" href="http://acre.cba.ua.edu/" target="_blank"></a><!--
  --><a class="m-img-btn-arec" href="http://arec.alabama.gov/" target="_blank"></a>
</div> <!-- .m-buttons-red -->