<section class="project-nav-container reveal" id="block_<%= block.id %>">
	<div class="text-wrapper">
		<h2 class="top-text"><%= block.child_value('top_text') %></h2>
		<h6 class="bottom-text"><%= block.child_value('bottom_text') %></h6>
	</div>
	<nav>
		<img src="//d9hjv462jiw15.cloudfront.net/assets/wardscott/images/icons/arrow.png" id="arrow">
		<div class="constrain">
			<ul>
<!-- 				<li><a href="/portfolio#commercial">commercial</a></li> -->
				<li><a href="/portfolio?category=healthcare">healthcare</a></li>
				<li><a href="/portfolio?category=education">education</a></li>
				<li><a href="/portfolio?category=municipal">municipal</a></li>
				<li><a href="/portfolio?category=financial">financial</a></li>
				<li><a href="/portfolio?category=housing">housing</a></li>
				<li><a href="/portfolio?category=religious">religious</a></li>
			</ul>
		</div>
	</nav>
</section>