<% hf = Caboose::Block.where(:block_type_id => 1158).last %>
<footer class="main home" id="block_<%= block.id %>">
  <div class="constrain">
    <a href="#" id="back-to-top" title="Back to Top"><span class="icon-up-big"></span></a>
    <div class="grid-row">
      <div class="unit1of3 left">
        <h4 class="title">Industries Served</h4>
        <ul>
          <li>Automotive</li>
          <li>Building and Construction</li>
          <li>Education</li>
          <li>Electronics</li>
          <li>Entertainment</li>
          <li>Insurance</li>
          <li>Banking</li>
          <li>Investment</li>
          <li>Manufacturing</li>
          <li>Media</li>
          <li>Professional Services</li>
          <li>Real Estate</li>
          <li>Retail</li>
          <li>Technology</li>
          <li>Travel &amp; Hospitality</li>
        </ul>
      </div>
      <div class="unit1of3 middle">
        <h4 class="title">Site Navigation</h4>
        <ul>
          <li><a href="/" title="Home">Home</a></li>
          <li><a href="/solutions" title="Solutions">Solutions</a></li>
          <li><a href="/reporting" title="Reporting">Reporting</a></li>
          <li><a href="/contact-us" title="Contact Us">Contact Us</a></li>
        </ul>
        <h4 class="title">Site Policies</h4>
        <ul>
          <li><a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
          <li><a href="/terms-and-conditions" title="Terms and Conditions">Terms &amp; Conditions</a></li>
       <!--    <li><a href="/site-map" title="Site Map">Site Map</a></li> -->
        </ul>
        <h4 class="title">Socially Responsible</h4>
        <%== ApplicationHelper.social_links(site.id, "icon", "white") %>
      </div>
      <div class="unit1of3 right">
        <h4 class="title">Contact Us</h4>
        <% if hf %>
          <div class="richtext contact"><%== hf.child_value('contact_text') %></div>
        <% end %>
        <section class="caboose">
          <span>Site powered by:</span>
          <a href="http://www.nine.is" target="_blank">
            <%= render 'svg/caboose' %>
          </a>
        </section>
      </div>
    </div>
  </div>
</footer>