<footer class="main home">
	<div class="constrain">
		<div class="flex">
			<p class="copyright">&copy; <%= DateTime.now.strftime("%Y") %> Ut Unum</p>
			<%== ApplicationHelper.social_links(site.id, "icon", "colored") %>
		</div>
	</div>
</footer>