<header class="main home" id="block_<%= block.id %>">
  <div class="constrain">
    <a class="logo-link" href="/" title="Home">
      <img src="//d9hjv462jiw15.cloudfront.net/assets/utunum/images/white_logo2.png" class="reveal" alt="Ut Unum" width="350" height="39" />
      <img src="//d9hjv462jiw15.cloudfront.net/assets/utunum/images/white_icon.png" class="conceal" alt="Ut Unum" width="60" height="55" />
    </a>
    <nav class="reveal">
      <ul>
        <li><a href="/">Home</a></li>
        <% subpages = Caboose::Page.where(:parent_id => 759, :hide => false).order(:sort_order).all %>
        <% subpages.each_with_index do |p,i| %>
          <li id="page-<%= p.id %>"><%== ApplicationHelper.nav_link(p, editing, false) %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <div class="cart reveal">
    <a href="/cart" title="Cart">
      <span class="icon-cart"></span>
    </a>
  </div>
  <div id="st-trigger-effects">
    <a class="icon-menu-4" id="show-menu" href="#" data-effect="st-effect-7"></a>
  </div>
</header>