<div class="newsletter-sign-up" id="block_<%= block.id %>">
	<h3 class="section-title">EMAIL SIGNUP</h3>
	<form id="newsletter-form">
    <div class="field">
    	<input type="email" name="email" id="email" placeholder="Email Address" />
    </div>
    <a href="#" class="btn" id="submit-newsletter-form">Submit</a>
  </form>
  <div id="message"></div>
</div>

<% content_for :js do %>
  <script>
    $(document).ready(function() {
      function submit_newsletter(form_id) {
        var mess = $("#" + form_id).next("#message");
        mess.html("<p class='note loading'>Submitting form... </p>");
        var form = $("#" + form_id); 
        form.find("input, textarea").each(function() {
          if ( $(this).attr("placeholder") == $(this).val() ) {
            $(this).val("");
          }
        });
        $.ajax({
          url: '/mailchimp/subscribe',
          type: 'post',
          data: form.serialize(),
          success: function(resp) {
            if(resp.error) {
              form.find("input, textarea").each(function() {
                if ( $(this).val() == "" ) {
                  $(this).val( $(this).attr("placeholder") );
                }
              });
              mess.html("<p class='note error'>" + resp.error + "</p>");
            } 
            if(resp.success) {
              form.slideUp(); 
              mess.html("<p class='note success'>" + resp.success + "</p>");
            }
          }
        });
      }
      $("#submit-newsletter-form").click(function(event) {
        event.preventDefault();
        submit_newsletter("newsletter-form"); 
        return false;
      });
    });
  </script>
<% end %>