<header class="subpage" id="block_<%= block.id %>">
  <div class="header-overlay"></div>
  <div class="constrain">
    <a class="logo-link" href="/">
      <img src="//d9hjv462jiw15.cloudfront.net/assets/westervelt/images/top_logo.png" alt="">
    </a>
    <nav class="reveal">
      <ul>
        <li><a href="/sustainability">Sustainability</a></li>
        <li><a href="/employment">Employment</a></li>
        <li><a href="/links">Links</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/news">News</a></li>
      </ul>
    </nav>
    <a class="icon-menu conceal" href="#" id="show-menu"></a>
  </div>
</header>