<footer class="main subpage" id="block_<%= block.id %>">
  <div class="constrain">
    <section class="nine">
      <p>Site designed and marketed by<br />the South’s Finest at</p>
      <a href="http://www.nine.is" target="_blank">
        <%= render 'svg/nine' %>
      </a>
    </section>
    <nav>
      <ul>
        <li><a href="/returns">Support</a></li>
        <li><a href="/terms">Terms &amp; Conditions</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/products">SHOP NOW</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
      </ul>
    </nav>
    <script type="text/javascript" src="//badge.topratedlocal.com/load-badge/default/left?mobile=pin"></script><a href="http://www.topratedlocal.com/old-state-pride-reviews" id="trl-badge-poweredby" style="display:block;clear:both;text-align:right;color:white;text-decoration:none;font-size:14px;padding-top:10px;">Powered by Top Rated Local&reg;</a>
  </div>
</footer>