<% 
api_key = Caboose::Setting.where(:site_id => site.id, :name => 'mailchimp_api_key').exists?
list_id = Caboose::Setting.where(:site_id => site.id, :name => 'mailchimp_list_id').exists?
capture_name = block.child_value('capture_name')
desc = block.child_value('description').blank? ? "<p>Sign up for our newsletter!</p>" : block.child_value('description')
%>

<div class="mailchimp-form-block" id="block_<%= block.id %>">
	<% if api_key && list_id %>
		<div class="constrain">
      <div class="grid-row">
        <div class="unit1of2 intro">
          <%== ApplicationHelper.social_links(site.id, "icon", "colored") %>
          <p class="font-gotham">SEE THE LATEST ON OUR INSTAGRAM FEED, AND CONNECT WITH US ON FACEBOOK, INSTAGRAM &amp; MORE. </p>
        </div>
        <div class="unit1of2 right">
          <% if !desc.blank? %><div class="text"><div class="description richtext"><%== desc %></div></div><% end %>
          <form id="newsletter-form">
            <% if capture_name == '1' %>
              <div class="grid-row name-row">
                <div class="unit1of2 left">
                  <input type="text" name="first_name" placeholder="First Name" />
                </div>
                <div class="unit1of2 right">
                  <input type="text" name="last_name" placeholder="Last Name" />
                </div>
              </div>
              <input type="hidden" name="capture_name" value="yes" />
            <% end %>
            <input type="email" name="email" placeholder="Email Address" />
            <a href="#" class="alternate btn" id="submit-newsletter-form">SIGN UP</a>
          </form>
          <div id="message"></div>
        </div>
      </div>
		</div>
	<% elsif editing %>
		<p style="border:1px dashed red;padding:10px;">MailChimp API Key and List ID must be set for this form to work.</p>
	<% end %>
</div>

<% content_for :js do %>
  <script>
    $(document).ready(function() {
      function submit_newsletter(form_id) {
        var mess = $("#" + form_id).next("#message");
        mess.html("<p class='note loading'>Submitting form... </p>");
        var form = $("#" + form_id); 
        form.find("input, textarea").each(function() {
          if ( $(this).attr("placeholder") == $(this).val() ) {
            $(this).val("");
          }
        });
        $.ajax({
          url: '/mailchimp/subscribe',
          type: 'post',
          data: form.serialize(),
          success: function(resp) {
            if(resp.error) {
              form.find("input, textarea").each(function() {
                if ( $(this).val() == "" ) {
                  $(this).val( $(this).attr("placeholder") );
                }
              });
              mess.html("<p class='note error'>" + resp.error + "</p>");
            } 
            if(resp.success) {
              form.slideUp(); 
              mess.html("<p class='note success'>" + resp.success + "</p>");
            }
          }
        });
      }
      $("#submit-newsletter-form").click(function(event) {
        event.preventDefault();
        submit_newsletter("newsletter-form"); 
        return false;
      });
    });
  </script>
<% end %>