

<% 
api_key = Caboose::Setting.where(:site_id => site.id, :name => 'mailchimp_api_key').exists?
list_id = Caboose::Setting.where(:site_id => site.id, :name => 'mailchimp_list_id').exists?
capture_name = '1'
desc = "SIGN UP FOR 10 PERCENT OFF"
%>

<div class="landing-content" id="block_<%= block.id %>">

<div class="table">
  <div class="table-cell">

  <div class="newsletter-wrapper">
  
  <img src="//d9hjv462jiw15.cloudfront.net/assets/sovo/images/main_logo.png" alt="SOVOStyle" class="logo" />
  <img src="//cabooseit.s3.amazonaws.com/assets/sovo/images/white_logo.png" alt="SOVOStyle" class="logo white" style="display:none;" />
  
  <div class="mailchimp-form">
    <% if api_key && list_id %>
      <div class="constrain">
        <form id="newsletter-form">
          <% if !desc.blank? %><div class="text"><div class="description richtext"><%== desc %></div></div><% end %>
          <input type="hidden" name="capture_name" value="yes" />
          <div class="field clearfix">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" />
          </div>
          <div class="field clearfix">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" />
          </div>
          <div class="field email clearfix">
            <label for="email">Email</label>
            <input type="email" name="email" />
          </div>
          <a href="#" class="alternate btn" id="submit-newsletter-form">Submit</a>
        </form>
        <div id="message"></div>
      </div>
    <% elsif editing %>
      <p style="border:1px dashed red;padding:10px;">MailChimp API Key and List ID must be set for this form to work.</p>
    <% end %>
  </div>

    </div>
</div>

</div>
</div>

<% content_for :js do %>
  <script>
    $(document).ready(function() {
      function submit_newsletter(form_id) {
        var mess = $("#" + form_id).next("#message");
        mess.html("<p class='note loading'>Submitting form... </p>");
        var form = $("#" + form_id); 
        form.find("input, textarea").each(function() {
          if ( $(this).attr("placeholder") == $(this).val() ) {
            $(this).val("");
          }
        });
        $.ajax({
          url: '/mailchimp/subscribe',
          type: 'post',
          data: form.serialize(),
          success: function(resp) {
            if(resp.error) {
              form.find("input, textarea").each(function() {
                if ( $(this).val() == "" ) {
                  $(this).val( $(this).attr("placeholder") );
                }
              });
              mess.html("<p class='note error'>" + resp.error + "</p>");
            } 
            if(resp.success) {
              form.slideUp(); 
              mess.html("<p class='note success'>" + resp.success + "</p>");
            }
          }
        });
      }
      $("#submit-newsletter-form").click(function(event) {
        event.preventDefault();
        submit_newsletter("newsletter-form"); 
        return false;
      });
    });
  </script>
<% end %>