<div class="header main" id="block_<%= block.id %>">
  <div class="constrain">
    <a href="/" title="Home"><img src="<%= asset_path 'rivermarket/images/stamp.png' %>" alt="Tuscaloosa River Market" width="180" /></a>
    <div class="menu-link">
      <span>Menu</span>
      <a href="#" id="open-menu" class="icon-menu" title="Menu"></a>
    </div>
  </div>


  <nav id="menu">
    <span id="close-menu" class="icon-close" title="Close Menu"></span>
    <a href="/" title="Menu"><img src="//d9hjv462jiw15.cloudfront.net/assets/rivermarket/images/menu-logo.png" /></a>
    <a id="reserve-space" href="/make-a-reservation" class="btn yellow" title="Reserve the Space">Reserve the Space</a>
    
    <ul>
      <li><a title="Calendar of Events" href="/calendar-of-events"><i class="icon-calendar"></i> Calendar of Events</a></li>
      <li><a title="Recipes" href="/recipes"><i class="icon-plate"></i> Recipes</a></li>
      <li><a title="Meet Our Farmers" href="/meet-our-farmers"><i class="icon-barn"></i> Meet our Farmers</a></li>
      <li><a title="In the News" href="/in-the-news"><i class="icon-newspaper"></i> In the News</a></li>
      <li><a title="Rental Information" href="/rental-information"><i class="icon-store"></i> Rental Information</a></li>
      <li><a title="Become a Vendor" href="/become-a-vendor"><i class="icon-store"></i> Become a Vendor</a></li>
      <li><a title="Contact Us" href="/contact-us"><i class="icon-phone"></i> Contact Us</a></li>
      <li><a title="Request an Event Date" href="/make-a-reservation"><i class="icon-calendar"></i> Request an Event Date</a></li>
    </ul>
  </nav>
</div>