<%
  line1 = block.child_value('line_1')
  line2 = block.child_value('line_2')
  classes = []
  classes << block.child_value('color')
  classes = classes.join(" ")

%>


<div id="block_<%= block.id %>">
  <div class="title-bar <%= classes %>">
    <div class="constrain">
      <p class="line-1"><%= line1 %></p>
      <% if !line2.nil? && !line2.blank? %>
        <p class="line-2"><%= line2 %></p>
      <% end %>
    </div>
  </div>
</div>