<header class="home" id="block_<%= block.id %>">
  <div class="constrain">
    <a class="logo-link" href="/">
      <img src="/assets/shared/nine_logo.png" alt="The Nine">
    </a>
    <a class="menu-icon" href="#" id="showMenu"><img src="/assets/nine/images/menu.png" alt="Menu"></a>
    <div class="socials">
      <a href="#" class="st-icon-circle st-icon-facebook-alt st-white"></a>
      <a href="#" class="st-icon-circle st-icon-twitter st-white"></a>
      <a href="#" class="st-icon-circle st-icon-instagram st-white"></a>
    </div>
  </div>
</header>