<div class="whole-page-wrapper" id="page-our-team">

  <div class="page-header" style="background-image: url('//d9hjv462jiw15.cloudfront.net/assets/nine/images/team.jpg');">
    <div class="text">
      <h1 class="title">OUR TEAM</h1>
      <h4 class="subtitle">Software Engineers &amp; Designers</h4>
      <p class="meta">we love our moms</p>
    </div>
  </div>

  <div class="page-nav">
    <nav>
      <ul>
        <li><a class="current-page" href="#the-nine">The Nine</a></li>
        <li><a class="current-page" href="#our-work">Office Culture</a></li>
        <li><a class="current-page" href="#what-we-do">Testimonials</a></li>
      </ul>
    </nav>
  </div>

  <div class="page-body" style="display:none;">

    <div class="page-our-team page-section nine-section" style="margin-bottom: 10px;">
      <div class="constrain">
        <%= render 'svg/nine' %>
        <h5 class="logo-text">Built in the South</h5>
      </div>
    </div>

    <div class="page-our-team page-section" style="background:#eee;">
      <div class="constrain">
        <h4>Our Work Week</h4>
        <p>We work a <span class="pink">sustainable work pace</span>.  We work four days for clients on projects and one day on “investment time.” Our typical work week will be Monday through Thursday on client work and Friday on investment.  Our investment time is time for investment in ourselves, The Nine and our community.  We learn, we prototype, we build and we give back.  We work on <span class="pink">open source software</span>, we contribute to the <span class="pink">Think Tank</span> project, we write blog posts and we continue to work on making <span class="pink">Caboose</span> the CMS choice for every developer using <span class="pink">Rails</span> as their programming language.
We also work on <span class="pink">Canvas</span> and <span class="pink">Cotton Spark</span>, which is currently in the planning stages (more to come soon).</p>
  <p>This time allows for us to put in the work to be the best at what we do, which in turn provides you with the best solutions and technologies avaiable.</p>
      </div>
    </div>


    
  </div>
  
</div>