<div class="whole-page-wrapper" id="page-web">

  <div class="page-header" style="background-image:url('//d9hjv462jiw15.cloudfront.net/assets/nine/images/web2.jpg');">
    <div class="text">
      <h1 class="title">Web Development</h1>
      <h4 class="subtitle">It's the Core of Who We Are</h4>
      <p class="meta">beautiful design that is functional</p>
    </div>
  </div>

  <div class="page-nav">
    <nav>
      <ul>
        <li><a class="current-page" href="#our-projects">Our Projects</a></li>
        <li><a class="current-page" href="#our-methods">Our Method</a></li>
        <li><a class="current-page" href="#testimonials">Testimonials</a></li>
      </ul>
    </nav>
  </div>

  <div class="page-body" style="display:none;">

    <div class="page-web page-section nine-section" style="margin-bottom: 10px;">
      <div class="constrain">
        <%= render 'svg/nine' %>
        <h5 class="logo-text">Our Projects</h5>
      </div>
    </div>

    <a id="our-projects"></a>
    <div class="page-web page-section client tcpara">
      <div class="image-wrapper">
        <img src="//d9hjv462jiw15.cloudfront.net/assets/nine/images/mac.png" alt="Mac" id="mac" />
        <img src="//d9hjv462jiw15.cloudfront.net/assets/nine/images/iphone_vertical.png" alt="iPhone" id="iphone1" />
        <img src="//d9hjv462jiw15.cloudfront.net/assets/nine/images/iphone_horizontal.png" alt="iPhone" id="iphone2" />
      </div>
      <div class="client-text">
        <h4 class="client-name">TUSCALOOSA COUNTY PARK AND RECREATION</h4>
        <p>"Most people make the mistake of thinking design is what it looks like.  People think it's this veneer - that the designers are handed this box and told, 'Make it look good!' That’s not what we think design is. It’s not just what it looks like and feels like. Design is how it works."</p>
      </div>
    </div>

    <div class="page-web page-section client northport">
      <div class="image-wrapper">
        <img src="//d9hjv462jiw15.cloudfront.net/assets/nine/images/macbook.png" alt="Macbook" id="macbook" />
        <img src="//d9hjv462jiw15.cloudfront.net/assets/nine/images/ipad.png" alt="iPad" id="ipad" />
      </div>
      <div class="client-text">
        <h4 class="client-name">CITY OF NORTHPORT</h4>
        <p>"Most people make the mistake of thinking design is what it looks like.  People think it's this veneer - that the designers are handed this box and told, 'Make it look good!' That’s not what we think design is. It’s not just what it looks like and feels like. Design is how it works."</p>
      </div>
    </div>

    <div class="page-web page-section desk"></div>

    <a id="our-methods"></a>
    <div class="page-web page-section playbook">
      <div class="constrain">
        <h5 class="playbook-title">Nine Playbook</h5>
        <h6 class="section-title">Design</h6>
        <p>We create amazing designs built on responsive frameworks that adapt to the capabilities of desktop, tablet and mobile screen sizes.  Your site will look and function as well on the mobile phone as it does on your desktop.  We create custom designs that set all of our clients apart from their competition.  We love what we do and this is where it shows the most.  We take pride in the work we do from the initial design concept to the final pixels that are launched live.  We provide plenty of opportunities for you to review our work and provide feedback.  You’ll be set up a Dropbox that allows you to see the layouts we are working on and provide feedback.  This is also the place where you’ll drop of your content for us to build your site.  If, at any stage, you’re not happy with the direction our work is taking, you’ll pay us in full for everything we’ve produced until that point and cancel this contract.</p>
        <h6 class="section-title">Development</h6>
        <p>All of our beautiful designs are developed in clean, semantic HTML5 markup, CSS3 stylesheets for styling and JavaScript for behaviors and interactivity.  We develop all of our sites in a responsive framework that allows your website to be optimally viewed on desktops, tablets and mobiles without the need to have apps built or mobile sites.  The power behind our development is our server-side language, Ruby on Rails.  Ruby on Rails is one of the most productive ways to develop web applications out there.  Custom software development has always been expensive, but that’s not the case with Ruby on Rails.  Prototyping, test-driven development and scaling are all much easier to accomplish in a timely manner than with traditional programming languages.    With all of our iOS apps development we use Objective-C and Swift developing with Apple’s latest Xcode software.</p> 
        <h6 class="section-title">Content Management</h6>
        <p>The Nine has built our own Content Management System called Caboose.  With our love for Rails, we felt it only right to name our backend end system with such a name.  Caboose is a robust and powerful CMS that allows you to edit and add to your site in ways never experienced before.  The beauty of Caboose is you will not need any experience or development background to handle editing your content.  We provide training for your team to help understand how to use Caboose and will also give you access to how to videos on using the system.</p>
        <h6 class="section-title">Hosting</h6>
        <p>Our hosting is state of the art and uses the latest technologies to ensure your site is secure, healthy and always running.  We use Heroku to power Caboose.  It's a platform built on Amazon's cloud infrastructure.  It is simple to use when your site is just starting to be developed or once it is running with a high concurrency and sustained load.  Like Rails, Heroku uses conventions to make your site secure and scalable as it grows.  The cloud promises lower operating costs which allow us to provide you with the greatest service at the lowest price.  All of our content for assets like images, we upload to Amazon S3 Web Services, which provide reliability and security that are industry standards in data storage.  We provide monitoring on our development platforms to make sure all of our sites are running at their highest potential with New Relic.</p>
        <h6 class="section-title">Browsers</h6>
        <p>We support Internet Explorer 9.0+ and the latest versions of Firefox, Chrome, and Safari. We do not support Internet Explorer 6, 7, or 8. Instead, those users see a polite message showing them how to upgrade. Those browsers are losing market share, they have security issues, and they are time-consuming to design for, develop for, and support.  In limited special cases, user demographics will dictate that supporting an older version of Internet Explorer is required.  Those special cases should be identified early on and additional time and expense will be needed in order to support the version.</p>
        <h6 class="section-title">Testing</h6>
        <p>We test our work in current versions of major desktop browsers including those made by Apple (Safari), Google (Chrome), Microsoft (Internet Explorer), and Mozilla Firefox. We’ll also test to ensure Microsoft Internet Explorer 9 for Windows users get an appropriate, possibly different, experience. We’ll implement a single column design for older versions of Internet Explorer and we won’t test in other older browsers unless you specify otherwise.  If you need an enhanced design for an older browser, we can provide a separate  estimate for that.  Testing popular small-screen devices is essential in ensuring that a person’s experience of a design is appropriate to the capabilities of the device they’re using. We test our work in:  iOS: Safari, Google Chrome Android 4.x: Google Chrome and Firefox.  We currently don’t test Blackberry, Opera Mini/Mobile, Windows Phone or other mobile browsers.   If you need us to test using these, we can provide a separate estimate for those services.</p>
      </div>
    </div>


    
  </div>
  
</div>