<div class="whole-page-wrapper" id="page-reel">

  <div class="page-header video" id="reel-video" style="background-color: black;background-image:url('//d9hjv462jiw15.cloudfront.net/assets/nine/images/icons/loading.gif');background-size:250px;">
    <div class="text">
      <h1 class="title">DIGITAL REEL</h1>
      <h4 class="subtitle">Capturing Moments</h4>
      <p class="meta">shot in the South</p>
    </div>
  </div>

  <div class="page-nav">
    <nav>
      <ul>
        <li><a class="current-page" href="#shot-in-the-south">Shot in the South</a></li>
        <li><a class="current-page" href="#our-work">Our Work</a></li>
        <li><a class="current-page" href="#what-we-do">What We Do</a></li>
      </ul>
    </nav>
  </div>

  <div class="page-body" style="display:none;">

    <div class="page-eyesight page-section nine-section" style="margin-bottom: 10px;">
      <div class="constrain">
        <%= render 'svg/nine' %>
        <h5 class="logo-text">Built in the South</h5>
      </div>
    </div>
    
  </div>
  
</div>