<div class="whole-page-wrapper" id="page-photography">

  <div class="page-header" style="background-image:url('//d9hjv462jiw15.cloudfront.net/assets/nine/images/photography_2.jpg');">
    <div class="text">
      <h1 class="title">Photography</h1>
      <h4 class="subtitle">Seeing is Believing</h4>
      <p class="meta">shot in the South</p>
    </div>
  </div>

  <div class="page-nav">
    <nav>
      <ul>
        <li><a class="current-page" href="#shot-in-the-south">Shot in the South</a></li>
        <li><a class="current-page" href="#our-work">Our Work</a></li>
        <li><a class="current-page" href="#what-we-do">What We Do</a></li>
      </ul>
    </nav>
  </div>

  <div class="page-body" style="display:none;">

    <div class="page-photography page-section" id="shot-in-the-south">
      <div class="constrain">
        <%= render 'svg/nine' %>
        <h5 class="logo-text">Shot in the South</h5>
        <div class="center-text">
          <p>The Nine is excited to bring on board one of the most talented photographers from right here in the South.  Lance Holloway has been working for the past ten years for the University of Alabama on Discovering Alabama, a show that has won three emmy’s over the course of his time there and has allowed him to develop his craft along the way. The Nine knows the value of great photography in everything we do.  From print to interactive design, images are the foundation on which we build.<br />We know if you don’t look good, our work will not look good.</p>
        </div>
      </div>
    </div>

    <div class="page-photography page-section" id="our-work">
      <h5 class="page-section-title">Our Work</h5>
      <img src="//d9hjv462jiw15.cloudfront.net/assets/nine/images/images.jpg" id="photography-images">
    </div>

    <div class="page-photography page-section" id="what-we-do">
      <div class="constrain">
        <h5 class="page-section-title no-border">What We Do</h5>
        <ul>
          <li>COMMERCIAL</li>
          <li>ADVERTISING</li>
          <li>PEOPLE</li>
          <li>PORTRAITS</li>
          <li>ARCHITECTURE</li>
          <li>AERIAL</li>
          <li>PRODUCTS</li>
          <li>CORPORATE</li>
          <li>HOTEL</li>
          <li>RESORTS</li>
          <li>FASHION</li>
        </ul>
        <div class="quote">
          <p class="text">"Don't shoot what it looks like. <br />Shoot what it feels like."</p>
          <p class="ref">-David Alan Harvey</p>
        </div>
      </div>
    </div>
    
  </div>
  
</div>