<div class="whole-page-wrapper" id="page-products">

  <div class="page-header" style="background-image:url('//d9hjv462jiw15.cloudfront.net/assets/nine/images/products_bg.jpg');">
    <div class="text">
      <h1 class="title">Products</h1>
      <h4 class="subtitle">Building a Better Way</h4>
      <p class="meta">shot in the South</p>
    </div>
  </div>

  <div class="page-nav">
    <nav>
      <ul>
        <li><a class="current-page" href="#caboose">Caboose</a></li>
        <li><a class="current-page" href="#locomotion">Locomotion</a></li>
        <li><a class="current-page" href="#boxcar">Boxcar</a></li>
      </ul>
    </nav>
  </div>

  <div class="page-body" style="display:none;">

    <div class="page-products page-section nine-section" style="margin-bottom: 30px;">
      <div class="constrain">
        <%= render 'svg/nine' %>
        <h5 class="logo-text">Built in the South</h5>
      </div>
    </div>

    <div class="page-products page-section" id="caboose">
      <div class="constrain">
        <div class="center-text">
          <p>After several years of working in frameworks like Wordpress, Expression Engine and the likes, The Nine decided it was time to build our own Content Management System to handle all of our digital sites.  Ruby on Rails was the platform of choice as we desired a language that allowed us to write clean code and build quickly.</p>
          <h5 class="outlined">Caboose</h5>
          <p>The Nine has built our own Content Management System called Caboose.  With our love for Rails, we felt it only right to name our backend system with such a name.  Caboose is a robust and powerful CMS that allows you to edit and add to your site in ways never experienced before.  The beauty of Caboose is you won’t need any experience or development background to handle editing your content.  We provide training to your team to help understand how to use Caboose and will also give you access to how to videos on using the system.</p>
        </div>
      </div>
    </div>

    <div style="text-align:center;margin-bottom:100px;">
      <img src="//d9hjv462jiw15.cloudfront.net/assets/nine/images/caboose_screenshot.jpg" alt="Caboose" style="max-width:500px;" />
    </div>

    <div class="page-products page-section" id="locomotion">
      <div class="constrain">
        <div class="center-text">
          <h5 class="outlined">Locomotion</h5>
          <p>The Nine has built our own Content Management System called Caboose.  With our love for Rails, we felt it only right to name our backend system with such a name.  Caboose is a robust and powerful CMS that allows you to edit and add to your site in ways never experienced before.  The beauty of Caboose is you won’t need any experience or development background to handle editing your content.  We provide training to your team to help understand how to use Caboose and will also give you access to how to videos on using the system.</p>
        </div>
      </div>
    </div>

    
  </div>
  
</div>