<footer class="main home clearfix" id="block_<%= block.id %>">
  <div class="left">
    <p>Copyright &copy; <%= DateTime.now.strftime("%Y") %> | Evolve</p>
  </div>
  <div class="right">
    <p>Site designed and loved by your friendly neighborhood</p>
    <a href="http://www.nine.is" title="The Nine" target="_blank">
      <%= render 'svg/nine' %>
    </a>
  </div>
</footer>